{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
 
</head>

<body class="sub_page">

  <div class="hero_area">
    
  </div>



  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Sign Up
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form_container">
            {% if msg %}
              <b style="color: blue;">{{msg}}</b>
            {% endif %}
            <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
              {% csrf_token %}
               <div>
                <select name="usertype">
                  <option>---Select User Type---</option>
                  <option value="user">User</option>
                  <option value="seller">Seller</option>
                </select>
              </div>
              <div>
                <input type="text" placeholder="First Name" name="fname" />
              </div>
              <div>
                <input type="text" placeholder="Last Name" name="lname" />
              </div>
              <div>
                <input type="text" placeholder="Mobile" name="mobile" />
              </div>
              <div>
                <input type="email" placeholder="Email" name="email" id="email"/>
                <span id="email_error" style="color: blue;"></span>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Address" name="address"  />
              </div>
              <div>
                <input type="password" placeholder="Password" name="password" />
              </div>
              <div>
                <input type="password" placeholder="Confirm Password" name="cpassword" />
              </div>
              <div>
                <input type="file" name="profile_pic"/>
              </div>
              <div class="btn_box">
                <button>
                  Sign Up
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end contact section -->


  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          HandTime
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Shop
            </h5>
            <div>
              <div class="img-box">
              <img src="{% static 'images/location-white.png' %}" width="18px" alt="">
              </div>
              <p>
                Address
              </p>
            </div>
            <div>
              <div class="img-box">
              <img src="{% static 'images/telephone-white.png' %}" width="12px" alt="">
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
              <img src="{% static 'images/envelope-white.png' %}" width="18px" alt="">
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div class="row m-0">
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                    <img src="{% static 'images/w1.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                    <img src="{% static 'images/w2.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                    <img src="{% static 'images/w3.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                    <img src="{% static 'images/w4.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                    <img src="{% static 'images/w5.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                    <img src="{% static 'images/w6.png' %}" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
              <img src="{% static 'images/fb.png' %}" alt="">
              </a>
              <a href="">
              <img src="{% static 'images/twitter.png' %}" alt="">
              </a>
              <a href="">
              <img src="{% static 'images/linkedin.png' %}" alt="">
              </a>
              <a href="">
              <img src="{% static 'images/youtube.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->
      <script>
          $("#email").change(function(){
            var email=$(this).val();

            $.ajax({
              url: '/ajax/validate_email/',
              data: {
                'email': email
              },
              dataType: 'json',
              success: function (data) {
                if (data.is_taken) {
                  /*document.getElementById("email").style.border="5px solid red";*/
                  document.getElementById("email_error").innerHTML="This Email ID Is Already Registered"
                }else{
                  /*document.getElementById("email").style.border="5px solid green";*/
                }
              }
            });
          });

      </script>


 </body>

</html>
{% endblock %}